body {
  background-color: white;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
input {
  width: 240px;
  height: 40px;
  outline: none;
  font-size: 20px;
  padding: 5px;
}
.shopping-list {
  width: 230px;
  margin: 10px auto;
  height: 150px;
  background-color: lightgray;
  overflow-y: auto;
}
.product {
  text-align: left;
  margin: 10px;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}
.product:hover {
  background-color: aquamarine;
}
button {
  background-color: lightseagreen;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
button:hover {
  background-color: white;
  border-radius: 50%;
}
.bucket {
  width: 350px;
  margin: 50px auto;
}
.shopping-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: lightseagreen;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  padding: 30px;
  margin-top: 10px;
}
.strike{
    text-decoration: line-through;
    color: lightgray;
}